SPOTIFY_CACHE_PATH=/app/.cache
SPOTIFY_CLIENT_ID="<spotify client id>"
SPOTIFY_CLIENT_SECRET="<spotify client secret>"
SPOTIFY_USERNAME="<spotify username>"
SPOTIFY_PLAYLISTS="<playlist name>"

# Optional Home Assistant webhook URL for track move notifications.
# Example: https://your-home-assistant.local/api/webhook/spotify_track_moved
WEBHOOK_URL="<optional home assistant webhook URL>"
INTERVAL_SECONDS=60
